asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
Django==5.2
django-bootstrap5==25.1
django-environ==0.12.0
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.3.2
gunicorn==21.2.0
h11==0.16.0
idna==3.10
imageio==2.37.0
intel-openmp==2021.4.0
Jinja2==3.1.6
kiwisolver==1.4.8
lazy_loader==0.4
MarkupSafe==3.0.2
matplotlib==3.8.3
mkl==2021.4.0
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
opencv-python==4.9.0.80
packaging==25.0
pandas==2.2.3
pillow==10.2.0
psutil==5.9.8
pyparsing==3.2.3
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2025.2
requests==2.32.3
scikit-image==0.23.2
scipy==1.15.2
six==1.17.0
sqlparse==0.5.3
sympy==1.14.0
tbb==2021.13.1
tifffile==2025.3.30
torch==2.3.0
torchvision==0.18.0
torchxrayvision==1.3.4
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.27.1
