{% extends 'xrayapp/base.html' %}
{% load i18n %}

{% block title %}{% trans "Logged out" %} | MCADS{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0"><i class="bi bi-box-arrow-right"></i> {% trans "Logged out" %}</h4>
            </div>
            <div class="card-body text-center">
                <p>{% trans "You have been successfully logged out." %}</p>
                <a href="{% url 'login' %}" class="btn btn-primary">
                    <i class="bi bi-box-arrow-in-right"></i> {% trans "Log in again" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 